<!-- _layouts/pzh -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel=icon href="img/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
     <div class="logobar">
    <img src="img/PZHlogo253x84.png" alt="Provincie Zuid-Holland logo" width="253" height="84">
  </div>
  <div class="topnav" id="myTopnav">
    <a href="../index.html">Snelstudies</a>
    <a href="snelstudie-werkwijzer.html">Toelichting Snelstudies</a>

    <a href="javascript:void(0);" class="icon" onclick="menuFunction()">
      <span class="material-icons">dehaze</span>
    </a>
  </div>
  <div class="topImage" id="topI">
  <img src="{{ page.header_image }}" alt="Zuid-Holland" width="100%" height="auto" >

  </div>
   <div class="content" id="content">   
    {{ content }}
  </body>
</html>
