<!-- _layouts/pzh -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel=icon href="/mobiliteit/img/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/mobiliteit/css/style.css">
  <link rel="stylesheet" href="/mobiliteit/css/flex.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <script>
  function menuFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>
  <body>
     <div class="logobar">
    <img src="/mobiliteit/img/PZHlogo253x84.png" alt="Provincie Zuid-Holland logo" width="253" height="84">
  </div>
 {% if page.menu %}
    <div class="topnav" id="myTopnav">
       {{ page.menu | safe }}
      <a href="javascript:void(0);" class="icon" onclick="menuFunction()">
        <span class="material-icons">dehaze</span>
      </a>
    </div>
  {% endif %}
  <div class="topImage" id="topI">
  <img src="{{ page.header_image }}" alt="Zuid-Holland" width="100%" height="auto" >

  </div>
   <div class="content" id="content">   
    {{ content }}
  </body>
</html>
